@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<div class="col-md-4">
    <h2>В кратце</h2>
    <p>
        Качественное создание сайтов и продвижение по приемлемой цене - большая редкость.
        Хороший сайт требует тестирование на стандарты W3C, адаптивности, микроразметки - этого как правило никто не делает.
        Веб студия FutureSoftWare предлагает создание и продвижение сайтов с учетом мировых стандартов и гарантией.
    </p>
    <p><a class="btn btn-default" style="background-color:#ffd819" href="/Home/PriceList">Посмотреть предложения &raquo;</a></p>
</div>

<div class="col-md-4">
    <h2 style="margin-top:30px">Этапы разработки</h2>
    <div class="toggle_1">
        <section id="s11 section_s11" class="clearfix clearfix_2">
            <h4>
                <a href="/Home/PriceList">
                    <strong>
                        Выберите подходящий <br>
                        Тариф сайта
                    </strong>
                </a>
            </h4>
            <ul class="text-overflow firs-column-text-overflow">
                <p class="text-overflow text-p">Выберите подходящий вам <a href="/Home/PriceList">тариф сайта</a> по вашим предпочтениям.</p>
            </ul>
        </section>
    </div>

    <div class="toggle_1">
        <section id="s2" class="clearfix clearfix_2">
            <h4>
                <a href="/Home/OrderSite"><strong>Заполните <br> заявку</strong></a>
            </h4>
            <ul class="text-overflow second-column-text-overflow">
                <p>
                    Укажите выбранный тариф сайта и Ваши контактные данные.
                    <br>
                </p>
            </ul>
        </section>
        <div class="content">
            <section id="s2" class="clearfix">
                <ul>
                    <li>
                        - <a href="#"> После получения заявки</a> - мы свяжемся с Вами для уточнения деталей заказа.
                        - Даже если Вы не выбрали тарифный план, или затрудняеетесь в выборе  -
                        <a href="/Home/OrderSite">
                            можете заполнить эту заявку.
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>


    <div class="toggle_1">
        <section id="s3" class="clearfix clearfix_2">
            <h4>
                <a href="/Home/Brief"><strong>Подпишите договор и <br>внесите предоплату</strong></a>
            </h4>
            <ul class="text-overflow third-column-text-overflow">
                <p>
                    Подпишите договор на создание сайта, внесите предоплату, после это мы:
                </p>
            </ul>
        </section>
        <div class="content">
            <section id="s3" class="clearfix">
                <ul class="text-overflow">
                    <li>- готовим эскиз дизайна сайта;</li>
                    <br />
                    <li>- программируем нужные компоненты;</li>
                    <br />
                    <li>- делаем инструкцию по работе с сайтом;</li>
                </ul>
            </section>
        </div>
    </div>


    <div class="toggle_1">
        <section id="s4" class="clearfix clearfix_2">
            <h4>
                <a href="https://www.kp.ru/guide/kontent-saita.html"><strong>Приступайте к наполнению <br>cайта</strong></a>
            </h4>

            <ul class="text-overflow fourth-column-text-overflow">
                <p>
                    Разместите описание Ваших товаров/услуг, фото и видео материалы.
                </p>
            </ul>
        </section>
        <div class="content">
            <section id="s4" class="clearfix">
                <ul class="text-overflow">
                    <li>
                        - Если у вас нет времени на написание текстов и поиск картинок - вы всегда можете обратиться к нам и мы напишем тексты по вашим пожеланиям, наполним сайт информацией, сделаем красивое форматирование страниц.
                    </li>
                    <li>
                </ul>
            </section>
        </div>
    </div>



    <div class="toggle_1">
        <section id="s5" class="clearfix clearfix_2 clearfix-last">
            <h4>
                <a href="/Home/PriceList"><strong> Закажите хостинг и домен<br /> получайте клиентов</strong></a>
            </h4>
            <ul class="text-overflow fifth-column-text-overflow">
                <p>
                    Этап выполняется после того, как сайт наполнен информацией в достаточном объёме.
                </p>
            </ul>
        </section>
        <div class="content">
            <section id="s5" class="clearfix">
                <ul class="text-overflow">
                    <li>
                        Поскольку работы по установке статистики и настройке поисковых систем нельзя сделать на тестовой площадке.
                        <br />
                        - Закажите хостинг для запуска сайа в сети интернет и для привлечения на сайт целевых посетителей.
                        Для Вашего удобства мы предлагаем свои хостинг услуги, в которые входят запуск сайта, а также его поддержка.
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>