<button id="button-up">
        <a href="#scroll-to-top" class="scroll-href">
            <img src="/Content/img/button-arrow-up.png" class="button-img">
            <br>
            <span class="button-span"><em>UP</em></span>
        </a>
</button>
