<div>
    <div id="pagegradient" class="col-md-12">
        <a class="col-md-12 button" href="/Home/AskQuestion">
            <div class="feed" id="askquestion">
                <span>@Resources.Resource.Layout_AskQuestion</span>
            </div>
        </a>
    </div>
</div>
