.feedbacks{
    text-align: center;
    text-align: -webkit-center;
    width: 58%;
    height: 100%;
    margin: 0 0 0% 3%;
    position: relative;
    display: inline-block;
}



.feedback-form-users{
/*     width: 90%; */
    display: block;
    text-align: left;
    margin: 0 0 20px 0;
    border-bottom: 2px solid silver;
}

.feedback-form-users span:nth-child(1){
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    color: #2b2b63;
}

.feedback-form-users span:nth-child(2){
    font-size: 12px;
    margin: 5px 0 0 0px;
    position: absolute;
    right: 0%;
}

.feedback-form-users-message{
   text-align: justify;
    min-height: 20px;
    margin: 0 0 20px 0;
}

.coments-form-to-fill{
    width: 38%;
    display: inline-table;
    position: relative;
    left: 0;
    float: left;
    margin-bottom: 25px;
}








