#wraper{
    background-image: url(img/BG-test-for-site.jpg);
    background-position: 0;
    width: 100%;
    animation: animatedBackground 0s linear infinite;
    -moz-animation: animatedBackground 0s linear infinite;
    -webkit-animation: animatedBackground 0s linear infinite;
    -o-animation: animatedBackground 0s linear infinite;
}

img{
       position:relative;
}

.image1{
    height: 150px;
    left: 365px;
    top: 168px;
    transform: rotate(-13deg);
    animation: animatedGear1 6s linear infinite;
}
.image2{
    height: 240px;
    left: 500px;
    top: 0px;
    animation: animatedGear2 10s linear infinite;
    transform: rotate(0deg);
}
.image3{
    height: 150px;
    left: 724px;
    top: -220px;
    transform: rotate(3deg);
    animation: animatedGear3 6s linear infinite;
}

@keyframes animatedGear1 {
    0 {
       transform: rotate(-13deg);
    }
    10% {
       transform: rotate(-49deg);
    }
    20% {
       transform: rotate(-85deg);
    }
    30% {
        transform: rotate(-121deg);
    }
    40% {
        transform: rotate(-157deg);
    }
    50% {
        transform: rotate(-194deg);
    }
    60% {
        transform: rotate(-230deg);
    }
    70% {
        transform: rotate(-266deg);
    }
    80% {
        transform: rotate(-302deg);
    }
    90% {
        transform: rotate(-338deg);
    }
    100% {
        transform: rotate(-373deg);
    }
}

@keyframes animatedGear2 {
    0 {
       transform: rotate(0deg);
    }
    10% {
       transform: rotate(36deg);
    }
    20% {
       transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animatedGear3 {
    0 {
       transform: rotate(3deg);
    }
    10% {
       transform: rotate(-33deg);
    }
    20% {
       transform: rotate(-69deg);
    }
    30% {
        transform: rotate(-105deg);
    }
    40% {
        transform: rotate(-141deg);
    }
    50% {
        transform: rotate(-177deg);
    }
    60% {
        transform: rotate(-213deg);
    }
    70% {
        transform: rotate(-249deg);
    }
    80% {
        transform: rotate(-285deg);
    }
    90% {
        transform: rotate(-321deg);
    }
    100% {
        transform: rotate(-357deg);
    }
}