@media screen and (min-width: 1920px) {                                                                /* 80% +++++ */

    .serv-icon .icon-web-design {
        background-position: 0 0;
    }

        .serv-icon .icon-web-design:hover {
            background-position: 0 -86px;
        }

    .serv-icon .icon-web-dev {
        background-position: -85px 0px;
    }

        .serv-icon .icon-web-dev:hover {
            background-position: -85px -86px;
        }

    .serv-icon .icon-mobile {
    background-position: -167px 0;
    }

        .serv-icon .icon-mobile:hover {
            background-position: -167px -85px;
        }

    .serv-icon .icon-multi {
        background-position: -249px 0;
    }

        .serv-icon .icon-multi:hover {
            background-position: -249px -83px;
        }

    .serv-icon .icon-cms {
        background-position: -332px 0;
    }

        .serv-icon .icon-cms:hover {
            background-position: -332px -82px;
        }


.name_of_company h1 a{
    color: #fff;
    text-shadow: 1px 3px #09459e;
    padding: 0;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}

.button span{
    padding: 10px 50px;
}

}



@media screen and (max-width: 1920px) {                                                                /* 90% */

    .serv-icon .icon-web-design {
        background-position: 0 0;
    }

        .serv-icon .icon-web-design:hover {
            background-position: 0 -86px;
        }

    .serv-icon .icon-web-dev {
        background-position: -85px 0px;
    }

        .serv-icon .icon-web-dev:hover {
            background-position: -85px -86px;
        }

    .serv-icon .icon-mobile {
    background-position: -167px 0;
    }

        .serv-icon .icon-mobile:hover {
            background-position: -167px -85px;
        }

    .serv-icon .icon-multi {
        background-position: -249px 0;
    }

        .serv-icon .icon-multi:hover {
            background-position: -249px -83px;
        }

    .serv-icon .icon-cms {
        background-position: -332px 0;
    }

        .serv-icon .icon-cms:hover {
            background-position: -332px -82px;
        }



.name_of_company h1 a{
    color: #fff;
    text-shadow: 1px 3px #09459e;
    padding: 0;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}

.button span{
    padding: 10px 50px;
}

}



@media screen and (max-width: 1600px) {                                                                /* 100% */

    .serv-icon .icon-web-design {
        background-position: 0 0;
    }

        .serv-icon .icon-web-design:hover {
            background-position: 0 -86px;
        }

    .serv-icon .icon-web-dev {
        background-position: -85px 0px;
    }

        .serv-icon .icon-web-dev:hover {
            background-position: -85px -86px;
        }

    .serv-icon .icon-mobile {
    background-position: -167px 0;
    }

        .serv-icon .icon-mobile:hover {
            background-position: -167px -85px;
        }

    .serv-icon .icon-multi {
        background-position: -249px 0;
    }

        .serv-icon .icon-multi:hover {
            background-position: -249px -83px;
        }

    .serv-icon .icon-cms {
        background-position: -332px 0;
    }

        .serv-icon .icon-cms:hover {
            background-position: -332px -82px;
        }



.name_of_company h1 a{
    color: #fff;
    text-shadow: 1px 3px #09459e;
    padding: 0;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}

.button span{
    padding: 10px 50px;
}

}




@media screen and (max-width: 1280px) {                                                                /* 125% */

    .serv-icon .icon-web-design {
        background-position: 0 0;
    }

        .serv-icon .icon-web-design:hover {
            background-position: 0 -86px;
        }

    .serv-icon .icon-web-dev {
        background-position: -85px 0px;
    }

        .serv-icon .icon-web-dev:hover {
            background-position: -85px -86px;
        }

    .serv-icon .icon-mobile {
    background-position: -167px 0;
    }

        .serv-icon .icon-mobile:hover {
            background-position: -167px -85px;
        }

    .serv-icon .icon-multi {
        background-position: -249px 0;
    }

        .serv-icon .icon-multi:hover {
            background-position: -249px -83px;
        }

    .serv-icon .icon-cms {
        background-position: -332px 0;
    }

        .serv-icon .icon-cms:hover {
            background-position: -332px -82px;
        }


.name_of_company h1 a{
    color: #fff;
    text-shadow: 1px 3px #09459e;
    padding: 0;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}

.button span{
    padding: 10px 50px;
}

}


@media screen and (max-width: 1024px) {                                                                                                /* 125% */

    .serv-icon .icon-web-design {
        background-position: 0 0;
    }

        .serv-icon .icon-web-design:hover {
            background-position: 0 -86px;
        }

    .serv-icon .icon-web-dev {
        background-position: -85px 0px;
    }

        .serv-icon .icon-web-dev:hover {
            background-position: -85px -86px;
        }

    .serv-icon .icon-mobile {
    background-position: -167px 0;
    }

        .serv-icon .icon-mobile:hover {
            background-position: -167px -85px;
        }

    .serv-icon .icon-multi {
        background-position: -249px 0;
    }

        .serv-icon .icon-multi:hover {
            background-position: -249px -83px;
        }

    .serv-icon .icon-cms {
        background-position: -332px 0;
    }

        .serv-icon .icon-cms:hover {
            background-position: -332px -82px;
        }



.name_of_company h1 a{
    color: #fff;
    text-shadow: 1px 3px #09459e;
    padding: 0;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}

.button span{
    padding: 10px 50px;
}


}


@media screen and (max-width: 920px){                                                                                                   /* 150% */

div#services{
    padding: 10vh 0% 6px 0%;
}

div#home .serv-icon {
    top: -90px;
}

    .serv-icon .icon-web-design {
        background-position: 0 0;
    }

        .serv-icon .icon-web-design:hover {
            background-position: 0 -86px;
        }

    .serv-icon .icon-web-dev {
        background-position: -85px 0px;
    }

        .serv-icon .icon-web-dev:hover {
            background-position: -85px -86px;
        }

    .serv-icon .icon-mobile {
    background-position: -167px 0;
    }

        .serv-icon .icon-mobile:hover {
            background-position: -167px -85px;
        }

    .serv-icon .icon-multi {
        background-position: -249px 0;
    }

        .serv-icon .icon-multi:hover {
            background-position: -249px -83px;
        }

    .serv-icon .icon-cms {
        background-position: -332px 0;
    }

        .serv-icon .icon-cms:hover {
            background-position: -332px -82px;
        }


}



@media screen and (max-width: 780px) {                                                                                                    /* 175% */ 
div#services{
    padding: 10vh 0% 6px 0%;
}

div#home .serv-icon {
    top: -75px;
}

    .serv-icon .icon-web-design {
        background-position: 0 0;
    }

        .serv-icon .icon-web-design:hover {
            background-position: 0 -86px;
        }

    .serv-icon .icon-web-dev {
        background-position: -85px 0px;
    }

        .serv-icon .icon-web-dev:hover {
            background-position: -85px -86px;
        }

    .serv-icon .icon-mobile {
    background-position: -167px 0;
    }

        .serv-icon .icon-mobile:hover {
            background-position: -167px -85px;
        }

    .serv-icon .icon-multi {
        background-position: -249px 0;
    }

        .serv-icon .icon-multi:hover {
            background-position: -249px -83px;
        }

    .serv-icon .icon-cms {
        background-position: -332px 0;
    }

        .serv-icon .icon-cms:hover {
            background-position: -332px -82px;
        }


.name_of_company{
    position: absolute;
    width: 100%;
    top: 350px;
    text-align: center;
    z-index: 2000;
}

.name_of_company h1 a{
    color: #fff;
    text-shadow: 1px 3px #09459e;
    padding: 0;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}


}




