.other-site-body div{
    padding: 0px;
    width: auto;
    min-width: 14em;
    display: inline-table;
}

.other-site-body div:hover{
    box-shadow: 0 0 15px 1px black;
}

.other-site-body div img{
    width: 100px;
    height: 100px;
}

.other-site-body p {
        min-height: 40px;
        line-height: 17px;
}