@section askQuestion {}
@{
    ViewBag.Title = "About";
    // add Resources
}
@section navigation {}
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<link rel="stylesheet" href="~/Content/other-pages-shared-styles.css" />


<div class="other-site-full-body">
    <div class="other-site-pad">
        <div class="other-site-body">
            <h2 id="scrool">О НАС И О НАШЕЙ СТУДИИ</h2>
            <div class="other-site-inside-body">
                    <h4>
                        Кто мы?
                    </h4>
                <p>
                    — Мы группа специалистов, объединившихся для достижения более высоких результатов в работе. Таким образом, мы подтверждаем
                    выражение «в единстве сила».
                </p>
                    <h4>
                        Что мы можем предложить?
                    </h4>
                <p>

                    — Мы можем предложить полный спектр услуг по созданию, наполнению, сопровождению и раскрутке сайтов. При этом, по сравнению с раскрученными студиями, мы предлагаем более бюджетную стоимость с сохранением высокого качества нашей работы.
                </p>

                    <h4>
                        Что Вы получите, работая с нами?
                    </h4>
                <p>
                    — При заказе услуг в нашей компании Вы получаете полную открытость процесса, прозрачность затрат, отчетность о ходе выполняемой работы. Наши специалисты всегда на связи в группе технической поддержки. Задавайте любой вопрос и Вы гарантировано получите на него ответ.
                </p>
                    <h4>
                        Чего от нас ждать не стоит?
                    </h4>
                <p>
                    — От нас не стоит ждать сюрпризов, но мы постараемся удивить Вас качеством готового продукта. Наш принцип работы заключается в том, что мы договариваемся об определенных видах работ и услуг, о сроке их выполнения, и заключаем определенное соглашение, которое получает свое отражение в техническом задании. В своей последующей деятельности мы полностью придерживаемся достигнутых договоренностей с заказчиком.
                </p>

                <h3>ИТАК, ПОДВЕДЕМ ИТОГИ</h3>

                <p>
                    — При выборе нашей студии Вы всегда сможете рассчитывать на безупречное качество исполнения Ваших заказов, 
                    вне зависимости от того, к каким видам работ они относятся. Все сотрудники нашей студии - профессионалы 
                    и всегда относятся к исполнению своих обязанностей с ответственностью. С перечнем предоставляемых услуг 
                    можно ознакомиться в разделе <a href="/Home/PriceList">Услуги</a> или связавшись с нами любым, удобным для Вас способом.
                </p>

            </div>
        </div>                            
    </div>                           
</div>                       


