@section askQuestion {}
@{
    ViewBag.Title = "Brief";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<link rel="stylesheet" href="~/Content/brief.css" />
<link rel="stylesheet" href="/Content/other-pages-shared-styles.css">


<!-- <div class="line-background-shadow"></div> -->
<div class="other-site-full-body">
    <div class="other-site-pad">
        <div class="other-site-body">
            <h2 id="scrool">БРИФЫ</h2>
            <div class="other-site-inside-body">
                    <h4>
                        Ввод для клиента.
                    </h4>
                <p>
                    Для более четкого определения целей, стоящих перед будущей рекламной компанией, необходимо заполнить анкету максимально подробно. Это поможет нам оперативно определить цены и сроки реализации.
                    <br />
                    <a href="https://drive.google.com/file/d/12GW2y3WSd91V5vCK4ef1xPQtK2klJpBF/view?usp=sharing">Просмотреть</a>
                </p>

                    <h4>
                       Бриф на разработку сайта №1.
                    </h4>
                <p>

                 Для более четкого определения целей, стоящих перед будущим сайтом, необходимо заполнить анкету максимально подробно. Это поможет нам оперативно определить цены и сроки реализации.
                <br />
                <a href="https://drive.google.com/file/d/1ZToOwoKdhcJ-T8Sa93SBr_oLBYRWM4m7/view?usp=sharing">Просмотреть</a>
                </p>

                    <h4>
                       Бриф на разработку сайта №2.
                    </h4>
                <p>

                    От того насколько четко и исчерпывающе вы ответите на вопросы зависит, как быстро мы с вами начнем говорить на одном языке, чтобы решить поставленные задачи максимально быстро и эффективно
                <br />
                <a href="https://drive.google.com/file/d/1bvv1U1QTxPsBdc8zN1Xn5scoRuHj41wH/view?usp=sharing">Просмотреть</a>
                </p>
   
                <h4>
                        Пример ТЗ
                    </h4>
                <p>
                    От того насколько четко и исчерпывающе вы ответите на вопросы зависит, как быстро мы с вами начнем говорить на одном языке, чтобы решить поставленные задачи максимально быстро и эффективно
                    <br />
                    <a href="https://drive.google.com/open?id=1XiNT6I8w_3ehfV6bQetn93Y-XcHmRw7V">Просмотреть</a>
                </p>
                <br />  

            </div>
        </div>                            
    </div>                           
</div>                       
<!-- <div class="line-background-shadow"></div> -->
