@{
    ViewBag.Title = "Contacts";
    // add Resources
}
<link rel="stylesheet" href="~/Content/our_contacts.css">
<link rel="stylesheet" href="~/Content/other-pages-shared-styles.css" />


<div class="other-site-full-body ">
    <div class="other-site-pad">
        <div class="other-site-body">
            <h2 id="scrool">НАШИ КОНТАКТНЫЕ ДАННЫЕ</h2>    
            <div>
                <img src="~/Content/img/contacts/skype.png">
                <br />
                <p>Skype</p>
                <p>Future SoftWare</p>
                <p>(live:d1ed42733b187022)</p>
            </div> 
            <div>
                <img src="~/Content/img/contacts/viber.png">
                <p>Viber</p>
                <p>+48 795 043 141</p>
                <p></p>
            </div>          
           
            <div>
                <img src="~/Content/img/contacts/gmail.png">
                <br />
                <p>Gmail</p>
                <p>FutureSoftWare.fsw@gmail.com</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

