@{
    ViewBag.Title = "FullQuestionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<link rel="stylesheet" href="/Content/other-pages-shared-styles.css">

<!--  <div class="line-background-shadow"></div> -->
<div class="other-site-full-body">
    <div class="other-site-pad">
        <div class="other-site-body">
            <h2 id="scrool">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
            <div class="other-site-inside-body">
                <p>
                        <h3>Что входит в стоимость разработки сайта?</h3><br />
                    — Дизайн основных страниц сайта; <br />
                    — Установка и настройка системы управления контентом; <br />
                    — Установка и настройка необходимых модулей; <br />
                    — Вёрстка HTML-шаблонов страниц в соответствии с утверждённым дизайном; <br />
                    — Размещение ссылки-логотипа разработчика в футере сайта(если размещение логотипа неприемлемо, смета увеличивается на 10%); <br />
                    — Создание внутренней структуры и логики сайта; <br />
                    — Наполнение сайта информацией в объёме не более 2-х типовых страниц в каждом разделе (остальное делает, обычно, сам заказчик по прилагаемой инструкции); <br />
                    — Создание системы разграничения доступа к администрированию сайта (разные редакторы — разные права); <br />
                    — Инструкция по работе с сайтом (в формате PDF); <br />
                    — Бесплатная техподдержка в течение 2 месяцов после сдачи проекта (за исключением проблем с хостингом); <br />
                    — Консультации — всё время существования проекта; <br />
                </p>
                <br />
                <p>
                        <h3>Что входит в дополнительные услуги разработки сайта?</h3>
                        <h4>1. Маркетинг:</h4>
                    — установка статистики (Google Analytics и/или Яндекс Метрика); <br />
                    — регистрация сайта в поисковых системах (Google, Яндекс); <br />
                    — Site-Side SEO (оптимизация кода и семантики сайта, микроразметка, настройка внутренних инструментов, ЧПУ и т. д.); <br />
                    — установка и настройка всех необходимых инструментов для поднятия рейтинга сайта в вышеуказанных поисковых системах (сервисы вебмастеров, xml-карты сайта и т. д.) <br />

                    <h4>2. Хостинг:</h4> 
                    — Регистрация и оплата хостинга; <br />
                   Настройка хостинга; <br />
      
                    <h4>3. Защита: </h4>
                    — Подключение SSL-сертификата (SSL-E или SSL-S или SSL-W); <br />
                    — Антивирусное сканирование; <br />
                    — Безопасность сайта - Site Guard; <br />
                </p>
                <br />
                <p>

                    <h3>Этапы разработки?</h3>
                    <h4>1. Дизайн</h4> 
                    Разрабатывается утверждённое количество вариантов дизайна в рамках оговоренной стилистики и высылается заказчику; <br />
                    Заказчик оценивает перспективность работы, оплачивает 20% стоимости и дизайн дорабатывается. Доработка производится в объёме не более 5-ти правок. Дальнейшие правки оплачиваются; <br />
             
                    <h4>2. Программинг</h4>
                    Регистрируется хостинг (на заказчика*); <br />
                    Создаётся тестовая площадка и делается вся техническая часть; <br />
                    Заказчик смотрит сайт с точки зрения посетителя, вносит комментарии, правки и т. д.; <br />

                    <h4>3. Инструкция и админ-панель</h4>
                    Пишется инструкция по управлению, в системе создаётся менеджерский аккаунт и всё высылается заказчику; <br />
                    Заказчик пробует работать с сайтом, вносит комментарии, правки и т. д. ; <br />
                    Оплачивается остаток в обмен на администраторские логин и пароль*; <br />

                    <h4>4. Наполнение сайта информацией</h4> 
                    Производится силами заказчика по прилагаемой инструкции. <br />
                    Наполнение сайта также может быть сделано нами за дополнительную оплату. <br />
             
                    <h4>5. Публикация сайта</h4> 
                    Установка статистики, регистрация и настройка поисковых инструментов(*, **) <br />
                    Этап выполняется после того, как сайт наполнен информацией в достаточном объёме, поскольку работы по установке статистики и настройке поисковых систем нельзя сделать на тестовой площадке; <br />
                    Сайт публикуется на постоянной площадке; <br />
                    Подключается SSL-сертификат; <br />
                    Сайт прописывается в поисковых системах; <br />
                    Настраиваются всевозможные SEO-инструменты; <br />
                    Устанавливается статистика;<br />


                    <h4>Сроки</h4>
                    На эскизы дизайна — от 5 рабочих дней; <br />
                    На программинг — от 7 рабочих дней; <br />
                    Инструкция — 3 рабочих дня; <br />
                    Настройка публикации  занимает до 2 дней. <br />

                    <h4>*</h4> - хостинг считается как дополнительная услуга. <br />
                    <h4>**</h4> - пункты из публикации сайта выбераются самим заказчиком взависимости от требований. <br />
                </p>

            </div>
        </div>                            
    </div>                           
</div>                       
<!--  <div class="line-background-shadow"></div> -->



