@section askQuestion {}
@{
    ViewBag.Title = "InDevelopment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<link rel="stylesheet" href="~/Content/indevelopment.css" />
<link rel="stylesheet" href="/Content/other-pages-shared-styles.css">

@*Раздел "в разарботке"*@


<div class="other-site-full-body">
<div class="other-site-pad">
   <h2 id="scrool">Страница в разработке</h2>
      <img class="image1" src="~/Content/img/шестеренка1.png">
      <img class="image2" src="~/Content/img/шестеренка2.png">
      <img class="image3" src="~/Content/img/шестеренка1.png">
</div>
</div>
