@{
    ViewBag.Title = "Main";
    ViewBag.NotShow = true;
}
@Scripts.Render("~/bundles/jquery")



<div id="services" class="clearfix">
    <div class="toggle_1">
        <div class="toggle">
            <section id="s11 section_s11" class="clearfix clearfix_2">
                <figure class="serv-icon feed circle-one">
                    <a class="icon-web-design" href="#"></a>
                </figure>
                <div class="feed right-one">
                    <header>
                        <h4>
                            <a href="/Home/PriceList">
                                Выберите подходящий <br>
                                <strong>Тариф сайта </strong>
                            </a>
                        </h4>
                    </header>
                    <ul class="text-overflow firs-column-text-overflow">
                        <p class="text-overflow text-p">Выберите подходящий вам <a href="/Home/PriceList">тариф сайта</a> по вашим предпочтениям.</p>
                        <ul style="text-align:center">
                            <a href="/Home/PriceList" style="color: #6AE1FF; cursor: pointer; text-align:center; margin-top: 15px;"> Узнать больше</a>
                        </ul>
                        <br />
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <div class="toggle_1">
        <div class="toggle">
            <section id="s2" class="clearfix clearfix_2">

                <figure class="serv-icon feed circle-two">
                    <a class="icon-web-dev" href="#"></a>
                </figure>

                <div class="feed right-two">
                    <header>
                        <h4>
                            <a href="/Home/OrderSite">Заполните <br> <strong>заявку</strong></a>
                        </h4>
                    </header>
                    <ul class="text-overflow second-column-text-overflow">
                        <p>
                            Укажите выбранный тариф сайта и Ваши контактные данные.
                            <br>  @*<a href="#"> После получения заявки</a> - мы свяжемся с Вами для уточнения деталей заказа.*@
                        </p>
                    </ul>
                </div>
            </section>
            <div class="content">
                <section id="s2" class="clearfix">
                    <ul>
                        <li>
                            - <a href="#"> После получения заявки</a> - мы свяжемся с Вами для уточнения деталей заказа.
                            - Даже если Вы не выбрали тарифный план, или затрудняеетесь в выборе  -
                            <a href="/Home/OrderSite">
                                можете заполнить эту заявку.
                            </a>

                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>


    <div class="toggle_1">
        <div class="toggle">
            <section id="s3" class="clearfix clearfix_2">

                <figure class="serv-icon feed circle-three">
                    <a class="icon-mobile" href="#"></a>
                </figure>

                <div class="feed right-three">
                    <header>
                        <h4>
                            <a href="/Home/Brief">Подпишите договор и <br><strong>внесите предоплату</strong></a>
                        </h4>
                    </header>
                    <ul class="text-overflow third-column-text-overflow">
                        <p>
                            Подпишите договор на создание сайта, внесите предоплату, после это мы:
                        </p>
                    </ul>
                </div>
            </section>
            <div class="content">
                <section id="s3" class="clearfix">
                    <ul class="text-overflow">
                        <li>- готовим эскиз дизайна сайта;</li>
                        <br />
                        <li>- программируем нужные компоненты;</li>
                        <br />
                        <li>- делаем инструкцию по работе с сайтом;</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>


    <div class="toggle_1">
        <div class="toggle">
            <section id="s4" class="clearfix clearfix_2">

                <figure class="serv-icon feed circle-four">
                    <a class="icon-multi" href="#"></a>
                </figure>

                <div class="feed right-four">
                    <header>
                        <h4>
                            <a href="https://www.kp.ru/guide/kontent-saita.html">Приступайте к наполнению <br> <strong>Сайта</strong></a>
                        </h4>
                    </header>

                    <ul class="text-overflow fourth-column-text-overflow">
                        <p>
                            Разместите описание Ваших товаров/услуг, фото и видео материалы.
                        </p>
                    </ul>
                </div>
            </section>
            <div class="content">
                <section id="s4" class="clearfix">
                    <ul class="text-overflow">
                        <li>
                            - Если у вас нет времени на написание текстов и поиск картинок - вы всегда можете обратиться к нам и мы напишем тексты по вашим пожеланиям, наполним сайт информацией, сделаем красивое форматирование страниц.
                        </li>
                        <li>
                    </ul>
                </section>
            </div>
        </div>
    </div>



    <div class="toggle_1">
        <div class="toggle">
            <section id="s5" class="clearfix clearfix_2 clearfix-last">

                <figure class="serv-icon feed circle-five">
                    <a class="icon-cms" href="#"></a>
                </figure>

                <div class="feed right-five">
                    <header>
                        <h4>
                            <a href="/Home/PriceList">Закажите хостинг и домен<br /> <strong> получайте клиентов</strong></a>
                        </h4>
                    </header>
                    <ul class="text-overflow fifth-column-text-overflow">
                        <p>
                            Этап выполняется после того, как сайт наполнен информацией в достаточном объёме.
                        </p>
                    </ul>
                </div>
            </section>
            <div class="content">
                <section id="s5" class="clearfix">
                    <ul class="text-overflow">
                        <li>
                            Поскольку работы по установке статистики и настройке поисковых систем нельзя сделать на тестовой площадке.
                            <br />
                            - Закажите хостинг для запуска сайа в сети интернет и для привлечения на сайт целевых посетителей.
                            Для Вашего удобства мы предлагаем свои хостинг услуги, в которые входят запуск сайта, а также его поддержка.
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>





<aside class="body">
    <div id=inside_body class="col-xs-12 col-md-12 col-lg-12">
        <div id="baner" class="col-xs-12 col-md-12 col-lg-12 feed baner-slow-animation">
            <div id="captioned-gallery">
                <figure class="slider">
                    <figure class="divv">
                        <img src="~/Content/img/banners/fsw_banners/banner1.jpg" alt="">
                    </figure>
                    <figure class="divv">
                        <img src="~/Content/img/banners/fsw_banners/banner2.jpg" alt="">
                    </figure>
                    <figure class="divv">
                        <img src="~/Content/img/banners/fsw_banners/banner3.jpg" alt="">
                    </figure>
                    <figure class="divv">
                        <img src="~/Content/img/banners/fsw_banners/banner1.jpg" alt="">
                    </figure>
                    <figure class="divv">
                        <img src="~/Content/img/banners/fsw_banners/banner2.jpg" alt="">
                    </figure>
                </figure>
            </div>
        </div>
        <section class="section">
            <!--         <center>    -->
            <div class="our_services">
                <div class="our_services_inside">
                    <div class="bye_site">

                        <a href="/Home/OrderSite" class="bye_site_button">
                            <h3>
                                ЗАПОЛНИТЬ ЗАЯВКУ НА РАЗРАБОТКУ САЙТА
                                @* add Resources*@
                            </h3>
                        </a>

                    </div>
                    <!--                    <center> -->
                    <p class="about">
                        <br />
                        Мы занимаемся разработкой качественных сайтов, используя при этом новые технологии.
                        Снижение издержек и экономия человеческих ресурсов делает выгодным разработку сайта в целях Вашего бизнеса.
                        За счет удобного интерфейса и понятного дизайна Ваш сайт решает за Вас такие задачи как:
                        построение имиджа, привлечение новых клиентов, увеличение продаж.
                        От того, насколько быстро ваш клиент получит информацию, тем быстрее он примет решение о том, что ему нужно с вами связаться,
                        и тем быстрее он это сделает, а значит, Ваш собственный сайт - это действительно удачный способ заявления о себе.
                        <br />
                    </p>
                    <!--                  </center>  -->
                    <div class="our_services first_block">
                        <h4 class="h4_1">
                            Студия <p class="FSW"><span>F</span>uture<span>S</span>oft<span>W</span>are</p> —  для тех, кто ищет пути для создания и совершенствования своего бизнеса.
                        </h4>
                        <div class="our_services first_block first_column column feed text-animation-left-info">
                            <h4 title="технологии" class="our_services first_block h4_2">
                                <div id="technologies">
                                    <!-- href=" http://www.dbest.ru/information/advice/site_technologies/" -->
                                    <div class="swing swing1">Т</div>
                                    <div class="swing swing2">Е</div>
                                    <div class="swing swing3">Х</div>
                                    <div class="swing swing4">Н</div>
                                    <div class="swing swing5">О</div>
                                    <div class="swing swing6">Л</div>
                                    <div class="swing swing7">О</div>
                                    <div class="swing swing8">Г</div>
                                    <div class="swing swing9">И</div>
                                    <div class="swing swing10">И</div>
                                </div>
                                </a>
                            </h4>
                            <p class="our_services first_block p_1">
                                Благодаря новейшим технологиям наши сайты имеют большие преимущества:
                                быстродействие, производительность, расширяемость
                                <span class="Ticker">- инфраструктура наших сайтов построена в виде набора независимых компонентов. Компоненты, подобные системе маршрутизации, механизму визуализации и фабрике обработчиков, можно легко заменять другими компонентами с собственной реализацией.</span>
                            </p>
                            <p class="line-shadow feed slow-visible-line-left"></p>
                        </div>
                        <div class="our_services first_block second_column column">
                            <h4 title="адаптивность" class="our_services first_block h4_2 feed text-animation-center-top-info">
                                <div id="adaptation">
                                    <div class="swing swing1">А</div>
                                    <div class="swing swing2">Д</div>
                                    <div class="swing swing3">А</div>
                                    <div class="swing swing4">П</div>
                                    <div class="swing swing5">Т</div>
                                    <div class="swing swing6">И</div>
                                    <div class="swing swing7">В</div>
                                    <div class="swing swing8">Н</div>
                                    <div class="swing swing9">О</div>
                                    <div class="swing swing10">С</div>
                                    <div class="swing swing11">Т</div>
                                    <div class="swing swing12">Ь</div>
                                </div>
                                </a>
                            </h4>
                            <p class="our_services first_block p_1 feed text-animation-center-bottom-info">
                                Все наши сайты адаптивны и способны с одинаковой эффективностью решать бизнес-задачи как на стационарных, так и на мобильных устройствах.
                                <span class="Ticker">
                                    Удобство пользования внезависимости от устройства - одна из ключевых целей разарботки сайта. Адаптивный веб-дизайн - достаточно новое направление в дизайне веб-ресурсов, но уже сейчас он является одним из главных показателей качества сайта.
                                </span>
                            </p>
                            <p class="line-shadow feed slow-visible-line-center"></p>
                        </div>
                        <div class="our_services first_block third_column column feed text-animation-right-info">
                            <h4 title="управление" class="our_services first_block h4_2">
                                <div id="control">
                                    <div class="swing swing1">У</div>
                                    <div class="swing swing2">П</div>
                                    <div class="swing swing3">Р</div>
                                    <div class="swing swing4">А</div>
                                    <div class="swing swing5">В</div>
                                    <div class="swing swing6">Л</div>
                                    <div class="swing swing7">Е</div>
                                    <div class="swing swing8">Н</div>
                                    <div class="swing swing9">И</div>
                                    <div class="swing swing10">Е</div>
                                </div>
                                </a>
                            </h4>
                            <p class="our_services first_block p_1">
                                Админ-панель это «сердце» вашего сайта. Из нее администратор производит все необходимые базовые действия: создает, редактирует, удаляет разные элементы.
                                <span class="Ticker">
                                    Также, в админ-панели заключены все настройки, которые обеспечивают стабильную работу сайта. В зависимости от поставленой задачи мы интегрируем нужные Вам функции в админ-панель.
                                </span>
                            </p>
                            <p class="line-shadow feed slow-visible-line-right"></p>
                        </div>
                    </div>
                </div>
                <div class="our_services second_block feed slow-animation-consultation">
                    <div class="our_services second_block consultation">
                        <img src="~/Content/img/consultation.jpg">
                        <!--             <center>  -->
                        <p class="our_services second_block p_2">
                            <span>Закажите бесплатную <br /> консультацию!</span>
                        </p>
                        <p class="our_services second_block p_3">

                            После отправки заявки мы свяжемся с вами в течение дня.
                            <br />
                            <br />
                            <a class="our_services_second_block_a" href="/Home/AskQuestion" style="color:yellow">
                                Заказать консультацию
                            </a>
                        </p>
                        <!--              </center>  -->
                    </div>
                </div>
                <div class="our_services third_block">
                    <h4 class="h4_1">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h4>
                    <div class="our_services third_block first_column feed text-animation-left-info">
                        <h4 class="our_services third_block h4_3">Что входит в стоимость разработки сайта?</h4>
                        <ul class="our_services third_block ul_4">
                            <li>Дизайн основных страниц сайта;</li>
                            <li>Установка, настройка системы управления;</li>
                            <li>Инструкция по работе с сайтом;</li>
                            <li>Консультации по проекту;</li>
                            <a href="/Home/FullQuestionList">Полный список</a>
                        </ul>
                        <p class="line-shadow"></p>
                    </div>
                    <div class="our_services third_block second_column feed text-animation-center-info">
                        <h4 class="our_services third_block h4_3">Что входит в дополнительные услуги разработки сайта?</h4>
                        <ul class="our_services third_block ul_4">
                            <li>Маркетинг;</li>
                            <li>Хостинг;</li>
                            <li>Защита;</li>
                            <li>Полное наполнение контента сайта;</li>
                            <a href="/Home/FullQuestionList">Полный список</a>
                        </ul>
                        <p class="line-shadow"></p>
                    </div>
                    <div class="our_services third_block third_column feed text-animation-right-info">
                        <h4 class="our_services third_block h4_3">Этапы разработки</h4>
                        <ul class="our_services third_block ul_4">
                            <li>Дизайн;</li>
                            <li>Программирование;</li>
                            <li>Инструкция и админ-панель;</li>
                            <li>Публикация сайта, настройка доп. услуг*;</li>
                            <a href="/Home/FullQuestionList">Полный список</a>
                        </ul>
                        <p class="line-shadow"></p>
                    </div>
                </div>
            </div>
            <!--     </center>  -->
        </section>
        <section>
            <div class="our_works">
                <img src="/Content/img/bg-services-map3.jpg">
            </div>
        </section>
    </div>
</aside>



